@page
@model ConstructWedDb.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы точно хотите удалить?</h3>
<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CompletionMark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CompletionMark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.AboutPayment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.AboutPayment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TypeOfJob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TypeOfJob.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Brigade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Brigade.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Staff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Staff.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
