@page
@model ConstructWedDb.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CompletionMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].AboutPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].TypeOfJob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Brigade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfJob.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brigade.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
