@page
@model ConstructWedDb.Pages.TypeOfJobs.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы точно хотите удалить?</h3>
<div>
    <h4>Вид работы</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfJob.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfJob.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfJob.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfJob.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfJob.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfJob.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfJob.Material1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfJob.Material1.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfJob.Material2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfJob.Material2.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfJob.Material3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfJob.Material3.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TypeOfJob.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
