@page
@model ConstructWedDb.Pages.Materials.IndexModel

@{
    ViewData["Title"] = "Материалы";
}

<h1>Материалы</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].Packaging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Material) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Packaging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
